<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!--<add name="PracticeTeachingManagementSystem.Properties.Settings.PhongMayThucHanhConnectionString6" connectionString="Data Source=169.254.129.50;Network Library=DBMSSOCN;Initial Catalog=PhongMayThucHanh;User ID=nhan;Password=123" providerName="System.Data.SqlClient"/>
        <add name="PracticeTeachingManagementSystem_Student.Properties.Settings.PhongMayThucHanhConnectionString" connectionString="Data Source=169.254.129.50;Initial Catalog=PhongMayThucHanh;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>
        <add name="PracticeTeachingManagementSystem_Student.Properties.Settings.PhongMayThucHanhConnectionString1" connectionString="Data Source=DONHAN-PC;Initial Catalog=PhongMayThucHanh;User ID=nhan;Password=123" providerName="System.Data.SqlClient"/>
        <add name="PracticeTeachingManagementSystem_Student.Properties.Settings.PhongMayThucHanhConnectionString2" connectionString="Data Source=192.168.1.107;Initial Catalog=PhongMayThucHanh;User ID=nhan;Password=123" providerName="System.Data.SqlClient"/>
        <add name="PracticeTeachingManagementSystem_Student.Properties.Settings.PhongMayThucHanhConnectionString3" connectionString="Data Source=192.168.1.111;Initial Catalog=PhongMayThucHanh;Persist Security Info=True;User ID=nhan;Password=123" providerName="System.Data.SqlClient"/>
        <add name="PracticeTeachingManagementSystem_Student.Properties.Settings.PhongMayThucHanhConnectionString4" connectionString="Data Source=169.254.129.50;Initial Catalog=PhongMayThucHanh;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>
        <add name="PracticeTeachingManagementSystem_Student.Properties.Settings.PhongMayThucHanhConnectionString5" connectionString="Data Source=192.168.1.107;Initial Catalog=PhongMayThucHanh;Persist Security Info=True;User ID=nhan;Password=123" providerName="System.Data.SqlClient"/>
        <add name="PracticeTeachingManagementSystem_Student.Properties.Settings.PhongMayThucHanhConnectionString6" connectionString="Data Source=127.0.0.1;Initial Catalog=PhongMayThucHanh;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>
        <add name="PracticeTeachingManagementSystem_Student.Properties.Settings.PhongMayThucHanhConnectionString7" connectionString="Data Source=192.168.1.102;Initial Catalog=PhongMayThucHanh;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>
        <add name="PracticeTeachingManagementSystem_Student.Properties.Settings.PhongMayThucHanhConnectionString8" connectionString="Data Source=127.0.0.1;Initial Catalog=PhongMayThucHanh;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>
        <add name="PracticeTeachingManagementSystem_Student.Properties.Settings.PhongMayThucHanhConnectionString9" connectionString="Data Source=127.0.0.1;Initial Catalog=PhongMayThucHanh;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>
        <add name="PracticeTeachingManagementSystem_Student.Properties.Settings.PhongMayThucHanhConnectionString10" connectionString="Data Source=127.0.0.1;Initial Catalog=PhongMayThucHanh;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>
        <add name="PracticeTeachingManagementSystem_Student.Properties.Settings.PhongMayThucHanhConnectionString11" connectionString="Data Source=169.254.60.17;Initial Catalog=PhongMayThucHanh;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>
        <add name="PracticeTeachingManagementSystem_Student.Properties.Settings.PhongMayThucHanhConnectionString12" connectionString="Data Source=127.0.0.1;Initial Catalog=PhongMayThucHanh;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>
        <add name="PracticeTeachingManagementSystem_Student.Properties.Settings.PhongMayThucHanhConnectionString13" connectionString="Data Source=XUANHAU-PC\SQLEXPRESS;Initial Catalog=PhongMayThucHanh;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="PracticeTeachingManagementSystem_Student.Properties.Settings.PTMSConnectionString" connectionString="Server=192.168.1.26,1433;Database=PTMS;uid=sa;password=123456;Trusted_Connection=True;MultipleActiveResultSets=true;Integrated Security= false" providerName="System.Data.SqlClient"/>-->
        <add name="PracticeTeachingManagementSystem_Student.Properties.Settings.PTMSConnectionString1" connectionString="Server=192.168.1.26,1433;Database=PTMS;uid=sa;password=123456;Trusted_Connection=True;MultipleActiveResultSets=true;Integrated Security= false" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
